*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.idea
.externalNativeBuild
.cxx
local.properties

*.apk
/smali/build/apk/
/smali/VTLite.jobf
/smali/VTLite.apk.idsig
.idea/gradle.xml
.idea/compiler.xml
smali/assets/version.properties
app/src/main/assets/version.properties
smali/build/resources.zip
*.idsig
