/* vkui coloring V2 by iTaysonLab */
/* rewrited by vtosters team */
/* Generic VKUI */
/* additional fixes for various VKUI */
.Tooltip__content {
    background-color: %accent% !important;
}

.vkuibright_light, [scheme=bright_light], body[scheme=bright_light], .vkui--vkBase--light, .vkui--vkIOS--light, .vkui--vkCom--light {
    --accent: %accent% !important;
    --color_text_accent: %accent% !important;
    --vkui--color_text_accent: %accent% !important;
    --vkui--color_stroke_accent: %accent% !important;
    --vkui--color_icon_accent: %accent% !important;
    --action_sheet_action_foreground: %accent% !important;
    --attach_picker_tab_active_background: %accent% !important;
    --attach_picker_tab_active_text: %accent% !important;
    --button_muted_foreground: %accent% !important;
    --button_outline_border: %button_outline_border% !important;
    --button_outline_foreground: %button_outline_foreground% !important;
    --button_primary_background: %button_primary_background% !important;
    --button_secondary_foreground: %accent% !important;
    --button_tertiary_foreground: %accent% !important;
    --cell_button_foreground: %accent% !important;
    --control_foreground: %accent% !important;
    --counter_primary_background: %accent% !important;
    --im_attach_tint: %accent% !important;
    --im_reply_sender_text: %accent% !important;
    --im_reply_separator: %accent% !important;
    --im_text_name: %accent% !important;
    --landing_login_button_background: %accent% !important;
    --landing_primary_button_background: %accent% !important;
    --landing_tertiary_button_foreground: %accent% !important;
    --landing_text_title: %accent% !important;
    --landing_secondary_button_foreground: %accent% !important;
    --link_alternate: %accent% !important;
    --vkui--color_text_link_themed: %accent% !important;
    --loader_track_value_fill: %accent% !important;
    --vkui--color_track_buffer: %accent% !important;
    --feed_recommended_friend_promo_background: %accent% !important;
    --tabbar_active_icon: %accent% !important;
    --tabbar_tablet_active_icon: %accent% !important;
    --text_link: %accent% !important;
    --text_name: %accent% !important;
    --vkui--color_text_link: %accent% !important;
    --vkui--color_text_name: %accent% !important;
    --writebar_icon: %accent% !important;
    --vkui--color_write_bar_icon: %accent% !important;
    --dynamic_blue: %accent% !important;
    /* backgrounds */
    --background_content: %background_content% !important;
    --vkui--color_background_content: %background_content% !important;
    --background_page: %background_page% !important;
    --vkui--color_background: %background_page% !important;
    --color_background_modal: %background_content% !important;
    --vkui--color_background_modal: %background_content% !important;
    --content_tint_background: %content_tint_background% !important;
    --vkui--color_background_secondary: %content_tint_background% !important;
    --loader_background: %background_page% !important;
    --header_background: %header_background% !important;
    --header_background_before_blur: %header_background% !important;
    --header_background_before_blur_alternate: %header_background% !important;
    --vkui--color_header_background: %header_background% !important;
    --vkui--color_header_background_before_blur: %header_background% !important;
    --vkui--color_header_background_before_blur_alternate: %header_background% !important;
    --header_alternate_background: %header_background% !important;
    --color_field_border: %field_border% !important;
    --vkui--color_field_border: %field_border% !important;
    --color_field_background: %field_background% !important;
    --vkui--color_field_background: %field_background% !important;

    --header_text_alternate: %header_text% !important;
    --header_text: %header_text% !important;
    --header_text_secondary: %header_text% !important;
    --header_tint: %header_text% !important;
    --header_tint_alternate: %header_text% !important;
    --vkui--color_icon_accent_themed: %header_text% !important;
    --vkui--color_text_accent_themed: %header_text% !important;
}



.vkuispace_gray, [scheme=space_gray], body[scheme=space_gray], .vkui--vkBase--dark, .vkui--vkIOS--dark, .vkui--vkCom--dark {
    --accent: %accent% !important;
    --color_text_accent: %accent% !important;
    --vkui--color_text_accent: %accent% !important;
    --vkui--color_stroke_accent: %accent% !important;
    --vkui--color_icon_accent: %accent% !important;
    --action_sheet_action_foreground: %accent% !important;
    --attach_picker_tab_active_background: %accent% !important;
    --attach_picker_tab_active_text: %accent% !important;
    --button_muted_foreground: %accent% !important;
    --button_outline_border: %button_outline_border% !important;
    --button_outline_foreground: %button_outline_foreground% !important;
    --button_primary_background: %button_primary_background% !important;
    --button_secondary_foreground: %accent% !important;
    --button_tertiary_foreground: %accent% !important;
    --cell_button_foreground: %accent% !important;
    --control_foreground: %accent% !important;
    --counter_primary_background: %accent% !important;
    --im_attach_tint: %accent% !important;
    --im_reply_sender_text: %accent% !important;
    --im_reply_separator: %accent% !important;
    --im_text_name: %accent% !important;
    --landing_login_button_background: %accent% !important;
    --landing_primary_button_background: %accent% !important;
    --landing_tertiary_button_foreground: %accent% !important;
    --landing_text_title: %accent% !important;
    --landing_secondary_button_foreground: %accent% !important;
    --link_alternate: %accent% !important;
    --vkui--color_text_link_themed: %accent% !important;
    --loader_track_value_fill: %accent% !important;
    --vkui--color_track_buffer: %accent% !important;
    --feed_recommended_friend_promo_background: %accent% !important;
    --tabbar_active_icon: %accent% !important;
    --tabbar_tablet_active_icon: %accent% !important;
    --text_link: %accent% !important;
    --text_name: %accent% !important;
    --vkui--color_text_link: %accent% !important;
    --vkui--color_text_name: %accent% !important;
    --writebar_icon: %accent% !important;
    --vkui--color_write_bar_icon: %accent% !important;
    --dynamic_blue: %accent% !important;
    --background_content: %background_content% !important;
    --vkui--color_background_content: %background_content% !important;
    --background_page: %background_page% !important;
    --vkui--color_background: %background_page% !important;
    --color_background_modal: %background_content% !important;
    --vkui--color_background_modal: %background_content% !important;
    --content_tint_background: %content_tint_background% !important;
    --vkui--color_background_secondary: %content_tint_background% !important;
    --loader_background: %background_page% !important;
    --header_background: %header_background% !important;
    --header_background_before_blur: %header_background% !important;
    --header_background_before_blur_alternate: %header_background% !important;
    --vkui--color_header_background: %header_background% !important;
    --vkui--color_header_background_before_blur: %header_background% !important;
    --vkui--color_header_background_before_blur_alternate: %header_background% !important;
    --header_alternate_background: %header_background% !important;
    --header_tint: %header_text% !important;
    --header_tint_alternate: %header_text% !important;
    --vkui--color_icon_accent_themed: %header_text% !important;
    --vkui--color_text_accent_themed: %header_text% !important;
    --color_field_border: %field_border% !important;
    --vkui--color_field_border: %field_border% !important;
    --color_field_background: %field_background% !important;
    --vkui--color_field_background: %field_background% !important;

    --header_text_alternate: %header_text% !important;
    --header_text: %header_text% !important;
    --header_text_secondary: %header_text% !important;
}

/* фиксы статей */
.article {
    background-color: %background_content% !important;
    color: %text_primary% !important;
}

.articleView__content {
    background-color: %background_page% !important;
}

.articleView__footer {
    background-color: %background_page% !important;
    color: %text_primary% !important;
}

h1, h2, h3 {
    color: %text_primary% !important;
}

.articleView__header {
    background-color: %background_content% !important;
    color: %text_primary% !important;
}

/* кол-во посмотров и поделившихся */
.articleView__content_misc_block {
    background-color: %background_content% !important;
    color: %text_primary% !important;
}
