/* vkui coloring V2 by iTaysonLab */
/* rewrited by vtosters team */
/* Articles */
body.article_body.article_dark {
    background-color: #000000 !important;
}

.article_dark .articleView__content {
    border-top: #000000 !important;
    background-color: #000000 !important;
}

.article_dark .article {
    background-color: #000000 !important;
    color: #FFFFFF !important;
}

.articleView__content_misc_block .articleView__content_views_info {
    color: #FFFFFF !important;
}

.article_dark .article>h1 {
    color: %text_primary% !important;
}

.article__info_line {
    color: #FFFFFF !important;
}

.Audio__duration, .r .ai_dur {
    color: #FFFFFF !important;
}

.Audio__texts, .r .ai_label {
    color: #FFFFFF !important;
}

.article_dark .ai_title {
    color: #FFFFFF !important;
}

.article>figure figcaption:not(.article_ed__figcaption) {
    color: #FFFFFF !important;
}

/* VK Support fixes */
[scheme="client_dark"] .CatalogSearch__input, [scheme="space_gray"] .CatalogSearch__input, .vkuispace_gray .CatalogSearch__input{
    background: #000000 !important;
}

/* Generic VKUI */
.vkuispace_gray, [scheme=space_gray], body[scheme=space_gray], .vkui--vkBase--dark, .vkui--vkIOS--dark, .vkui--vkCom--dark {
    /* light background */
    --attach_picker_tab_active_icon: #000000 !important;
    --background_content: #000000 !important;
    --vkui--color_background_content: %background_content% !important;
    --button_bot_shadow: #000000 !important;
    --button_primary_foreground: #000000 !important;
    --content_tint_background: #000000 !important;
    --vkui--color_background_secondary: %content_tint_background% !important;
    --counter_secondary_text: #000000 !important;
    --loader_background: #000000 !important;
    --overlay_status_background: #000000 !important;
    --header_background: #000000 !important;
    --header_alternate_background: #000000 !important;
    --vkui--color_header_background: #000000 !important;
    --separator_alternate: #000000 !important;
    --segmented_control_bar_background: #000000 !important;
    --search_bar_background: #000000 !important;
    /* background */
    --background_page: #000000 !important;
    --vkui--color_background: #000000 !important;
    --header_background_before_blur: #000000 !important;
    --header_background_before_blur_alternate: #000000 !important;
    --vkui--color_header_background_before_blur: #000000 !important;
    --vkui--color_header_background_before_blur_alternate: #000000 !important;
    /* lighter BG (text fields) */
    --attach_picker_tab_inactive_background: #121212 !important;
    --background_keyboard: #121212 !important;
    --background_suggestions: #121212 !important;
    --vkui--color_background_modal: #121212 !important;
    --field_background: #121212 !important;
    --im_bubble_incoming: #121212 !important;
    --input_border: #121212 !important;
    --modal_card_background: #121212 !important;
    --separator_common: #121212 !important;
    --vkui--color_separator_primary: #121212 !important;
    --snippet_background: #121212 !important;
    --android_active_color: #121212 !important;
    --switch_ios_off_border: #121212 !important;
    /* third BG (buttons) */
    --button_secondary_background: #212121 !important;
    --vkui--color_background_secondary_alpha: #212121 !important;
    --header_search_field_background: #212121 !important;
    --icon_tertiary: #212121 !important;
    --vkui--color_icon_tertiary: #212121 !important;
    --im_bubble_outgoing: #212121 !important;
    --input_background: #212121 !important;
    --vkui--color_write_bar_input_background: #212121 !important;
    --loader_track_fill: #212121 !important;
    --vkui--color_track_background: #212121 !important;
    --search_bar_field_background: #212121 !important;
    --vkui--color_search_field_background: #212121 !important;
    --selection_off_icon: #212121 !important;
    --panel_tab_active_background: #212121 !important;
    --color_background_modal: #000000 !important;
    --color_field_background: #212121 !important;
    --vkui--color_field_background: #212121 !important;
}
